

.betaal-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 77vh;
    justify-content: center;
    .title {
        display: block;
        text-align: center;
    }
     
     .betaal {
         background-color: burlywood;
         border-radius: 1rem;
   
      .betaal-list {
          list-style-type: none;
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-wrap: wrap;
          width: 20rem;
        gap: 1rem;
        .betaal-lis {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 1rem;
            align-items: center;

      }
      }
     
      .betaal-lis img {
          padding: 1rem;
            height: 4rem;
            width: 4rem;
      }
     }
     
        

}